body {
  padding: 0 !important;
}

.home-title {
  background: none repeat scroll 0 0 #E35A26;
/*  box-shadow: 3px 6px 9px 2px #E35A26;*/
  color: #0067A6;
  font-family: tahoma;
  font-weight: normal;
  height: 56px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.home-title h2 {
  background: url("/taxi-app.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-size: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  text-indent: -9999px;
  text-transform: uppercase;
}

.home-title h2.taxiapp {
  background: url("/taxi-map.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-size: 22px;
  letter-spacing: 0.01em;
  text-align: center;
  text-indent: -9999px;
  text-transform: uppercase;
}


.home-form p{

	font-size:20px;
	color:#E35A26;
}

.home-select {	
	text-align:center;
	font-size:20px;
	color:#E35A26;
	
}

.home-select-button{
	width:100%;
}

.sign-up-home{
	padding:7px;
}

.locate-me {
  background: none repeat scroll 0 0 #E35A26;
  border: medium none;
  border-radius: 25px;
  box-shadow: 0 0 6px 0 #E35A26;
  color: #FFFFFF;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 12px auto 0;
  padding: 4px 17px;
  text-transform: uppercase;
}

.main-button{
	width:100%;
	padding:0px;
}

.map-main{
	/*margin-top:25px;*/
}
#map-canvas {
  min-height: 376px;
  overflow: hidden;
}

.taxiapp-button {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    border-radius: 50%;
    box-shadow: 0 0 8px 2px #D5D5D5;
    clear: both;
    color: #FFFFFF;
    font-size: 20px;
    height: 80px;
    margin: 10px;
    width: 80px;
}

.texiapp-container {
  text-align: center;
}

.hire { background: none repeat scroll 0 0 #01b400; }
.idle { background: none repeat scroll 0 0 #FFB400; }
.stop { background: none repeat scroll 0 0 #ff151b; }