<template name="map">
    <div class="row">
        <div class="col-xs-12 map-main">
            <div class="col-xs-12 ">
                <div id="map">
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 main-button ">
            <button type="button" class="btn btn-warning btn-lg locate-me locateme" id="sign-up">Locate Me</button>
        </div>
        <div class="col-xs-3"></div>
    </div>    
</template>