<template name="taxiPage">
	<form>
		<div class="row">
			<header class="jumbotron col-xs-12 home-title">
			    <div class="container">
			        <h2 class="taxiapp"><b>TraxyTaxi - Taxi App</b></h2>
			    </div>
			</header>
		</div>
		<div class="container texiapp-container">
			<div class="row">
        <button class="hire taxiapp-button" type="submit">HIRE</button>
			</div>
      <div class="row">
        <button class="idle taxiapp-button" type="submit">IDLE</button>
      </div>
      <div class="row">
        <button class="stop taxiapp-button" type="submit">STOP</button>
      </div>
		</div>      
	</form>
</template>