<template name="taxiPage">
	<form>
		<div class="row">
			<header class="jumbotron col-xs-12 home-title">
			    <div class="container">
			        <h2><b>TraxyTaxi - Taxi App</b></h2>
			    </div>
			</header>
		</div>
		<div class="container texiapp-container">
			<button class="hire taxiapp-button" type="submit">HIRE</button>
			<button class="idle taxiapp-button" type="submit">IDLE</button>
			<button class="stop taxiapp-button" type="submit">STOP</button>
		</div>        
	</form>
</template>